<a href="https://colab.research.google.com/github/MarcosToledo141/exercicios_ebac/blob/main/Dicionario1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#listas usamos []
#tuplas usamos ()
#strings usamos '' ou ""
#dicionário {chave:valor} -> chave poderá ser uma string ou um int
#O valor do dicionário pode ser lista, string.

#criando um dicionário
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

#print(type(empregados)) #Aqui imprime o tipo
print(empregados['01']) #"Aqui estamos acessando o valor do dicionário da posição 01"

['João', 'Silva']

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

empregados['04'] = ['Jose','Silva'] #"Aqui estamos incluindo um elemento ao dicionário"
print(empregados)

{'01': ['João', 'Silva'], '02': ['Maria', 'das Graças'], '03': ['Paulo', 'José'], '04': ['Jose', 'Silva']}

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

empregados['04'] = ['Jose','Silva'] #Aqui estamos incluindo um elemento ao dicionário
print(len(empregados)) #Aqui estamos listando a quantidade de elementos do dicionário

4

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

empregados['04'] = ['Jose','Silva']

print('01' in empregados) #Aqui estamos perguntando se o funcionário 01 está em empregados, ou contida em empregados?

True

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

empregados['04'] = ['Jose','Silva']

del empregados['01'] #Aqui estamos apagando um elemento da lista de empregados, observe que a resposta começa do elemento 2
print(empregados)

{'02': ['Maria', 'das Graças'], '03': ['Paulo', 'José'], '04': ['Jose', 'Silva']}

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

numero_func = input('Digite o número do funcionario:\n')
nome = input('Digite o nome:\n')

if empregados.get(numero_func):
  print('Funcionario ja cadastrado')
else:
  empregados[numero_func]=[nome]

print(empregados)

Digite o número do funcionario:
04
Digite o nome:
Fulano de Tal
{'01': ['João', 'Silva'], '02': ['Maria', 'das Graças'], '03': ['Paulo', 'José'], '04': ['Fulano de Tal']}

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}

empregados.setdefault('04',['Fulano de Tal'])
print(empregados)

{'01': ['João', 'Silva'], '02': ['Maria', 'das Graças'], '03': ['Paulo', 'José'], '04': ['Fulano de Tal']}

In [ ]:
empregados = {'01':['João', 'Silva'], '02':['Maria', 'das Graças'], '03':['Paulo','José']}
empregados2 = {'04':['Fulano','de Tal'],'05':['Beltrano','de Tal']}

empregados.update(empregados2)
print(empregados)

{'01': ['João', 'Silva'], '02': ['Maria', 'das Graças'], '03': ['Paulo', 'José'], '04': ['Fulano', 'de Tal'], '05': ['Beltrano', 'de Tal']}

In [ ]:
#metodos úteis em dicionários são: keys() 'retornar as chaves', values() 'retornar os valores", items() 'retornar os items

In [1]:
#Exemplo de código do tipo dict_keys
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

chaves = dias.keys()
print(type(chaves))

<class 'dict_keys'>

In [2]:
#Exemplo código keys
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

chaves = dias.keys()
print(chaves)

dict_keys(['Sex', 'Seg', 'Qua', 'Qui'])

In [4]:
#Exemplo código keys
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

chaves = dias.keys()
for chave in chaves:
  print(chave)

Sex
Seg
Qua
Qui

In [5]:
#Exemplo código values
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

value = dias.values()
for value in value:
  print(value, end=' ')

Sexta Segunda Quarta Quinta

In [6]:
#Exemplo código item
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

for item in dias.items():
  print(item)

('Sex', 'Sexta')
('Seg', 'Segunda')
('Qua', 'Quarta')
('Qui', 'Quinta')

In [7]:
#removendo um dos dias ou das chaves
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

dias.pop('Sex')
print(dias)

{'Seg': 'Segunda', 'Qua': 'Quarta', 'Qui': 'Quinta'}

In [9]:
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}
dias_copy = dias
dias_copy['Dom']='Domingo'
print(dias)

{'Sex': 'Sexta', 'Seg': 'Segunda', 'Qua': 'Quarta', 'Qui': 'Quinta', 'Dom': 'Domingo'}

In [10]:
dias = {'Sex':'Sexta','Seg':'Segunda','Qua':'Quarta','Qui':'Quinta'}

import copy

dias_copy = copy.deepcopy(dias)
dias_copy['Dom'] = 'Domingo'

print(f'Dicionario dias: {dias}')
print(f'Dicionario dias_copy: {dias_copy}')

Dicionario dias: {'Sex': 'Sexta', 'Seg': 'Segunda', 'Qua': 'Quarta', 'Qui': 'Quinta'}
Dicionario dias_copy: {'Sex': 'Sexta', 'Seg': 'Segunda', 'Qua': 'Quarta', 'Qui': 'Quinta', 'Dom': 'Domingo'}