<a href="https://colab.research.google.com/github/MarcosToledo141/exercicios_ebac/blob/main/erros_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
(3+4] #Aqui o erro foi por fechar o código com colchetes ao invés de chaves

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (<ipython-input-1-67653ab4ec76>, line 1)

In [3]:
print'hello' #Aqui o erro foi a falta do parênteses na palavra 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-3-adcb33858172>, line 1)

In [4]:
lista=[2;6;7] #Aqui o erro foi o ;

SyntaxError: invalid syntax (<ipython-input-4-bad781969e78>, line 1)

In [5]:
4/0 #Aqui o erro foi na divisão por zero

ZeroDivisionError: division by zero

In [6]:
lista = [0,1,2,3] #Aqui o erro foi tentar listar uma posição que não existe, porque a contagem começa do zero, então
lista[4]          #retonra o erro de que o index da lista está fora do range

IndexError: list index out of range

In [7]:
iten = 5 #Aqui foi erro de digitação, o item não está definido porque ele foi definido com n
print(item)

NameError: name 'item' is not defined

In [8]:
'2' * '4' #Não é possível multiplicar string

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
int('4.5') #Não tem como converter uma string

ValueError: invalid literal for int() with base 10: '4.5'

In [10]:
int(4.5) #Aqui a forma correta de passar o resultado fora da string

4