<a href="https://colab.research.google.com/github/MarcosToledo141/exercicios_ebac/blob/main/poo_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programação orientada a objetos POO
Python permite programar tanto em POO como em estrutura

Objetos são métodos e atributos

Classe é um projeto de um objeto

In [4]:
#No exemplo abaixo retorna o endereço alocado de cada pessoa "<__main__.Pessoa object at 0x79a97ae2ae90> <__main__.Pessoa object at 0x79a97ae2bac0>"
#Foram criados dois objetos do tipo pessoa e cada objeto pode ter o seu atributo
#O que seria um atributo, um nome por exemplo
class Pessoa:
  pass

pessoa1 = Pessoa()
pessoa2 = Pessoa()
print(pessoa1, pessoa2)

<__main__.Pessoa object at 0x79a97ae2ae90> <__main__.Pessoa object at 0x79a97ae2bac0>

In [8]:
#Neste código vamos inserir atributos aos objetos pessoas, por exemplo, nome e .
class Pessoa:
  pass

pessoa1 = Pessoa()
pessoa2 = Pessoa()

pessoa1.nome = 'Maria'
pessoa2.nome = 'João'

pessoa1.idade = 30
pessoa2.idade = 35
print(pessoa1.nome, pessoa1.idade, pessoa2.nome, pessoa2.idade)

Maria 30 João 35

Lembrete, por convenção damos o nome da classe sempre com a primeira letra em maiúsculo

In [13]:
#Método construtor, o self no código abaixo está realcionado às pessoas 1, 2, 3 e 4
class Pessoa:
  def __init__(self,nome, idade, altura):
    self.nome = nome
    self.idade = idade
    self.altura = altura

pessoa1 = Pessoa('Luiz', 35, 1.78)
pessoa2 = Pessoa('Maria', 21, 1.67)
pessoa3 = Pessoa('Marcos', 48, 1.68)
pessoa4 = Pessoa('Cynthia', 44, 1.58)

print(pessoa1.altura)
print(pessoa2.altura)
print(pessoa3.idade)
print(pessoa4.nome)

1.78
1.67
48
Cynthia