<a href="https://colab.research.google.com/github/MarcosToledo141/exercicios_ebac/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#TUPLAS!!!! Podem definir inteiros e string's em uma mesma variável, e também é imutável!
t = 1234,3541,'hello'
print(type(t))

u = t, (1,2,3)
print(u)

<class 'tuple'>
((1234, 3541, 'hello'), (1, 2, 3))

In [3]:
#Aqui um exemplo em que o retorno seria a posição "0", ou seja, os números 1234
t = 1234,3541,'hello'
print(type(t))

u = t, (1,2,3)
print(t[0])

<class 'tuple'>
1234

In [4]:
#Aqui um exemplo de tentativa de mudar o número da  posição "0" de 1234 para 555, retorna um erro, dizendo
#que o objeto tupla não suporta atribuição de ítem ou uma mudança de variável, ou seja, são imutáveis
t = 1234,3541,'hello'
print(type(t))

u = t, (1,2,3)
print(t[0])
t[0]= 555

<class 'tuple'>
1234

TypeError: 'tuple' object does not support item assignment

In [5]:
#Principal diferença entre listas e tuplas, listas são mutáveis e tuplas são imutáveis
#No exemplo abaixo, os números e a palavra 'hello' assumiram as posições de x,y,z, isso seria um unpacking
x,y,z = t
print(x,y,z)

1234 3541 hello

In [6]:
#Neste exemplo, sem a vírgula ao final da segunda linha, o retorno é a informção de que a tupla é de uma classe string
tupla_vazia = ()
tupla_com_um_elemento = 'texto'
print(type(tupla_com_um_elemento))

<class 'str'>

In [7]:
#Neste exemplo, com a vírgula ao final da segunda linha, o retorno é a informção de que a tupla é de uma classe tupla
tupla_vazia = ()
tupla_com_um_elemento = 'texto',
print(type(tupla_com_um_elemento))

<class 'tuple'>

In [8]:
#Aqui um exemplo em que o retorno informa a quantidade de elementos, neste caso apenas um elemento, que está entre parenteses (1234)
a = t.count(1234)
print(a)

1

In [ ]:
#Lembrete, e posso criar tuplas com elementos mutáveis, ou seja, apenas os elementos dentro da lista, as tuplas vem entre parenteses